{% set app = item.root | default('/var/www/' + item.name + '/current') %}
{% set root = app + '/public' %}
upstream unicorn_{{ item.name }} {
    server unix:{{ app }}/tmp/sockets/unicorn.sock;
}

server {
    listen {{ item.listen | default('[::]:80') }};
    server_name {{ item.server_name }};

    root {{ root }};   # <--- be sure to point to 'public'!

    client_max_body_size 5M;

    # Send sensitive stuff via https
{% if 'ssl' in item %}
{% for uri in item.ssl.sensitive_uris %}
    rewrite {{ uri }} https://$server_name$request_uri? permanent;
{% endfor %}
{% endif %}

    location / {
        if (-f $document_root/system/maintenance.html) {
          return 503;
        }
        try_files $uri/index.html $uri.html $uri @cluster;
    }

    location @cluster {
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://unicorn_{{ item.name }};
        break;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite  ^(.*)$  /system/maintenance.html break;
    }

    access_log {{ item.get('access_log', {}).path | default('/var/log/nginx/' + item.name + '.access.log') }} {{ item.get('access_log', {}).format | default('') }};
    error_log {{ item.get('error_log', {}).path | default('/var/log/nginx/' + item.name + '.error.log') }} {{ item.get('error_log', {}).format | default('') }};
}

{% if 'ssl' in item %}
server {
    listen 443;
    server_name dashboardbeta.navarino.gr;

    root {{ root }};   # <--- be sure to point to 'public'!

    ssl on;

    ssl_certificate {{ item.ssl.certificate }};
    ssl_certificate_key {{ item.ssl.certificate_key }};

    proxy_redirect off;

    # When we're back to non-sensitive things, send back to http
    rewrite ^/$ http://$server_name$request_uri? permanent;

    location / {
        if (-f $document_root/system/maintenance.html) {
          return 503;
        }
        try_files $uri/index.html $uri.html $uri @cluster;
    }

    location @cluster {
        proxy_set_header  X-Real-IP  $remote_addr;
        proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://unicorn_{{ item.name }};
        break;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite  ^(.*)$  /system/maintenance.html break;
    }

    access_log {{ item.ssl.get('access_log', {}).path | default('/var/log/nginx/' + item.name + '-ssl.access.log') }} {{ item.ssl.get('access_log', {}).format | default('') }};
    error_log {{ item.ssl.get('error_log', {}).path | default('/var/log/nginx/' + item.name + '-ssl.error.log') }} {{ item.ssl.get('error_log', {}).format | default('') }};
}
{% endif %}
